.container
{
    text-align:center;
    position:relative;
    top:20vh;
 

}
body{
    background-image:url("https://wallpaperaccess.com/full/16692.jpg");
    background-repeat:no-repeat;
    
     background-size: auto;
}
#first
{
    font-family:monospace;
    font-size:5vh;
    color:white;
    position:relative;
    bottom:2vh;
 
   

}
#mailing-form
{
height:7vh;
width:20%;
border-radius:1rem;

}
#pass-form
{
    height:7vh;
width:20%;
position :relative;
top:2vh;
border-radius:1rem;
}

.btn
{
    height:7vh;
    width:20%;
    position:relative;
    top:5vh; 
    color:white;
    
    background-color:blue;
}

#fourth
{
    position:relative;
    top:5vh;
    color:white;
}

.btn1
{
    position:relative;
    top:5vh;
    height:7vh;
    width:15%;
    font-family:cursive;
    font-size:2vw;
    color:white;
    border-radius:1.5rem;
    background-color:black;
}
#end
{
    position:relative;
    top:10vh;
    color:red;
}
.fa
{
    height:10%;
    width:10%;
    position:relative;
    right:7%;
    color:red;
    
}
